<footer class="container">
  <div class="columns">
    <div class="column has-text-black-ter"> &copy; 2019 yeahmobi.design</div>
    <div class="column">
      <nav class="navbar bg" role="navigation" aria-label="main navigation">
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item has-text-black-ter">
              Home
            </a>
            <a class="navbar-item has-text-black-ter">
              文章
            </a>
            <a class="navbar-item has-text-black-ter">
              关于我们
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</footer>