<div class="container">
  <header class="header columns is-vcentered">
    <div class="column">
      <div>
        <img src="../../images/logo.png" alt="" class="logo">
        <span class="title is-5">.design</span>
      </div>
      <div>
        <br>
        <h3> 让我们靠的更近，走得更远</h3>
        <br>
      </div>
    </div>
    <div class="column">
      <nav class="navbar bg" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item">
              Home
            </a>
            <a class="navbar-item">
              文章
            </a>
            <a class="navbar-item">
              关于我们
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>